@import '../../utils/globals.scss';

$loaderSize: 50;
$loaderBorder: 7;
$animDur: 500;

.error {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content {
        margin: #{$margin * 2}px;
        font-weight: bold;
    }
}

.loader {
    height: 100vh;
    position: relative;
    left: 0px;
    top: 0px;

    &:before {
        content: '';
        width: #{$loaderSize}px;
        height: #{$loaderSize}px;
        position: absolute;
        left: calc(50% - #{$loaderSize / 2}px);
        top: calc(50% - #{$loaderSize / 2}px);
        border: solid #{$loaderBorder}px $secondary;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        border-radius: 50%;
        animation: loader #{$animDur}ms ease-in-out infinite;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}