@import '../../utils/globals.scss';

$topbarHeight: 120;
$breakpointOne: 1100;
$breakpointTwo: 550;

.topbar {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    background-color: $dark;

    .logo {
        max-width: 400px;
        width: 100%;
        height: #{$topbarHeight}px;
        position: relative;

        .img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .navigationDesktop {
        align-self: flex-end;
        display: flex;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;
    }

    .navigationMobile {
        position: relative;
        width: 100%;
    }
}

@media screen and (max-width: #{$breakpointOne}px){
    .topbar{
        flex-direction: column;
        align-items: center;

        .navigationDesktop {
            align-self: center;
        }
    }
}

@media screen and (max-width: #{$breakpointTwo}px) {
    .topbar {
        padding: 25px;
    }
}

:export {
    topbarHeight: $topbarHeight;
    breakpointOne: $breakpointOne;
    breakpointTwo: $breakpointTwo;
}