@import '../../utils/globals.scss';

$breakpointOne: 800;

.home {
    .hero {
        display: flex;
        min-height: 60vh;
        background-color: lighten($dark, 3%);

        .left{
            flex: 1;
            background-color: lighten($dark, 3%);
            padding: #{$padding * 2}px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .info {
                .title {
                    text-align: center;
                    color: $primary;
                }

                .content {
                    font-size: 1.2em;
                    color: white;
                    padding: #{$padding}px;
                }
            }
            
            .actions {
                display: flex;
                justify-content: center;
            }
        }

        .right {
            flex: 1;
            position: relative;

            img {
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .more-info {
        max-width: 980px;
        margin: auto;
        padding: #{$padding * 2}px;
    }
}

@media screen and (max-width: #{$breakpointOne}px){
    .home {
        .hero {
            min-height: 100vh;
            flex-direction: column-reverse;

            .left {
                flex: 0.5;
            }
        }
    }
}