@import '../../utils/globals.scss';

$breakpointOne: 560;
$cardWidth: 300;

.services {
    max-width: 980px;
    margin: auto;
    padding: #{$padding * 2}px;

    .title {
        padding-bottom: 25px;
        text-align: center;
    }

    .grid {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;

        .card {
            background-color: white;
            margin: 50px;
            margin-top: 0px;
            color: $dark;
            display: flex;
            flex-direction: column;
            width: 300px;

            .media {
                height: 150px;
                position: relative;
                margin: #{$padding * 2}px;
                width: 100%;

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .head {
                text-align: center;
            }

            .content {
                flex: 1;
                text-align: center;
            }
        }
    }
}