@import '../../utils/globals.scss';

$breakpointOne: 750;

.langebaan {
    max-width: 980px;
    margin: auto;
    padding: #{$padding * 2}px;

    .title {
        padding-bottom: 25px;
        text-align: center;
    }

    .locations {
        .location {
            display: flex;
            margin: #{$margin * 2}px;
            margin-bottom: 50px;

            .map {
                flex: 2;
                position: relative;

                iframe {
                    width: 100%;
                    height: 100%;
                }
            }

            .content {
                flex: 3;
                padding: #{$padding}px;
                padding-top: 25px;
                padding-left: 25px;
                padding-bottom: 25px;
            }
        }
    }
}

@media screen and (max-width: #{$breakpointOne}px) {
    .langebaan {
        .locations {
            .location {
                flex-direction: column;

                .map {
                    height: 300px;
                }
                .content {
                    padding-left:#{$padding}px;
                }
            }
        }
    }
}