@import '../../utils/globals.scss';

.callout {
    display: flex;
    background-color: rgba($secondary, 0.15);
    border-left: solid 3px $secondary;

    .icon{
        padding: #{$padding}px;
    }

    .content {
        flex: 1;
        padding: #{$padding}px;
    }
}